header {
  margin: 30px 30px 150px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.8vw;
  color: #000080;
}

ul {
  display: flex;
}

li a {
  text-decoration: none;
  font-size: 1.2vw;
  color: #000080;
  font-weight: bold;
}

li {
  margin-left: 50px;
}

.main {
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50%;
  z-index: 1;
}

.message {
  position: absolute;
  margin: 22vw auto auto 0;
  display: block;
  font-size: 5vw;
  border-bottom: 12vw solid #000080;
  width: 75%;
  z-index: 0;
}